@media(max-width:700px){
    .showcase{
        height: 400px;
        &-content{
            text-align: center;
            img{
                display: none;
            }
        }
        .container {
            padding: 0 50px;
            margin: 0, auto;
        }
    }
}
